.text-center{
    text-align:center;
}

.bg-red{
    background: red;
}

/* .m-w-20{
    max-width: 30vw;
} */

.mx-auto{
    margin:auto;
}


.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}